<a [routerLink]="['/book-list']">Back to books</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Book</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="currentUpload">
            <progress class="progress is-success" min=1 value="{{ currentUpload?.progress }}"></progress>
            Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
       </div>
          <div class="form-group">
          <label>Image</label>
          <input type="file" class="button" (change)="detectFiles($event)">
          <button class="button is-primary" [disabled]="!selectedFiles" (click)="uploadSingle()">Upload Image</button>
          </div>

          <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" [(ngModel)]="title" name="title" required minlength="2" maxlength="40" autofocus [value]="title">
          </div>
          <div class="form-group">
            <label>Authors</label>
            <input class="form-control" type="text" [(ngModel)]="authors" name="authors" required [value]="authors">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" [(ngModel)]="description" name="description" required [value]="description" minlength="2" maxlength="70">
          </div>
          <div class="form-group">
            <label>Category</label>
            <select class="form-control" type="text" [(ngModel)]="category" name="category" required [value]="category">
              <option value="literature">Literature</option>
              <option value="politics">Politics</option>
              <option value="linguistics">Linguistics</option>
            </select>
          </div>
          <div class="form-group">
            <label>ISBN</label>
            <input class="form-control" type="number" [(ngModel)]="isbn" name="isbn" [value]="isbn">
          </div>
          <div class="form-group">
            <label>Publisher</label>
            <input class="form-control" type="text" [(ngModel)]="publisher" name="publisher" required [value]="publisher">
          </div>
          <div class="form-group">
            <label>Pages</label>
            <input class="form-control" type="number" [(ngModel)]="pages" name="pages" required [value]="pages">
          </div>
         <button class="btn btn-primary" (click)='updateBook()'>Update</button>
      </div>
    </div>
  </div>
</div>
